<div class="main">
    <div>
        <h1>Gestion des babyfoots</h1>
        <p>Contenu</p>
    </div>
    <p-table
        [columns]="babyfootColumns"
        [value]="(babyfoots | async) ?? []"
        [tableStyle]="{ 'min-width': '50rem' }"
        [scrollable]="true"
        scrollHeight="340px">
        <ng-template pTemplate="header" let-columns>
            <tr>
                <th *ngFor="let col of columns">
                    {{ col.header }}
                </th>
                <th>Actions</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-game let-columns="columns">
            <tr>
                <td *ngFor="let col of columns" [ngClass]="{'centred': col.centred}">
                    {{ game[col.field] }}
                </td>
                <td class="actions">
                  <button class="modify">
                    Modifier
                  </button>
                  <button class="delete">
                    Supprimer
                  </button>
                  <button class="details">
                    Détails
                  </button>
                </td>
            </tr>
        </ng-template>
    </p-table>
</div>
