<body>
  <div class="form-container">
    <h2>Se connecter</h2>
    <form (ngSubmit)="onSubmit()" #loginForm="ngForm">
      <div class="form-group">
        <label for="username">Pseudo:</label>
        <input type="text" id="username" name="username" pInputText [(ngModel)]="username" />
      </div>
      <div class="form-group">
        <label for="password">Mot de passe:</label>
        <input type="password" [(ngModel)]="password" required="" placeholder="mot de passe"/>
        <button pButton   severity="secondary" type="submit"><span pButtonLabel>Se connecter</span></button>
      </div>
      <div><a href="/register" class="register">Créer un compte de joueur</a>
      </div>
    </form>
  </div>
</body>
